#menuNav{
	height:75px;
	background-color:white;
	top:0;
	left:0;
	width:100%;
	position:fixed;
	text-align:center;
}
#TargetInicio{
	height:75px;
}
#home{
	height:500px;
}
#empresa{
	height:500px;
	}
#contato{
	height:500px;
}
#parcerias{
	height:500px;
	}
#servicos{
	height:500px;
}
