@charset "utf-8";
/* CSS Document */

.pagina_no_menu{
	height:35px;
	width:359px;
	background:#cccfd2;
	margin:1px 0 0 0;
}


/*CONTEÚDO*/
#gradient{
	position:absolute;
	width:1080px;
	height:462px;
	background:url(../img/gradiente_conteudo_servicos.jpg) no-repeat;
	z-index:0;
	margin-top:-126px;
}

#conteudo_interno{
	position:relative;
	height: auto;
	width: 1080px;
	margin: 126px auto 0 auto;
	z-index:1;
}

#tlt_contato{
	font-family: "Bebas Neue";
	font-size: 66px;
	color: #468c40;
	width: 1070px;
	border-bottom:1px solid #c1c6ca;
	margin-bottom:86px;
	padding-left:10px;
}

form{
	width:1070px;
	height:338px;
	border-bottom:1px solid #c1c6ca;
	margin-bottom:33px;
	padding-left:10px;
}

label{
	font-size:28px;
	font-family:"Open Sans Light";
}

.form_type_text{
	width:418px;
	height:52px;
	background:#c1c6ca;
	border:0;
	color:#666;
	font-size:16px;
	padding-left:10px;
	padding-top:2px;
	font-family:"Open Sans Light";
	margin-bottom:33px;
}

.form_type_textarea{
	width:601px;
	height:178px;
	background:#c1c6ca;
	border:0;
	color:#666;
	font-size:16px;
	padding-left:10px;
	padding-top:2px;
	font-family:"Open Sans Light";
	margin-bottom:33px;
}

#textarea{
	width:601px;
	height:214px;
	position:absolute;
	margin: -163px 0 0 20px;
}

#enviar{
	width:159px;
	height:54px;
	font-size:32px;
	background:#458b3f;
	text-align:center;
	font-family:"Bebas Neue";
	border:0;
	position:absolute;
	color:#d6dadc;
	padding-top:4px;
	cursor:pointer;
	margin: 88px 0 0 472px;
}

#endereco{
	width:1080px;
	height:auto;
	padding-left:10px;
	margin-bottom:33px;
}

#tlt_endereco{
	color:#468c40;
	font-family:"Open Sans Extrabold";
	font-size:28px;
	margin-bottom:4px;
}

#mapa{
	width:1080px;
	height:300px;	
	background:#666;
}