@charset "utf-8";
/*FONTES*/

@font-face{
	font-family:"Bebas";
	url:('../font/BebasNeue.otf')format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:"OpSLightItalic";
	url:('../font/OpenSans-LightItalic.ttf')format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:OpSLight;
	url:('../font/OpenSans-Light.ttf')format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:OpSRegular;
	url:('../font/OpenSans-Regular.ttf');

}

@font-face{
	font-family:OpSExtraBold;
	url:('../font/OpenSans-ExtraBold.ttf')format('truetype');
	font-weight:normal;
	font-style:normal;
}

/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	background:#d6dadc;
	font-family:"Open Sans";
	font-size:18px;
	color:#666;
}

/*TOPO*/
header{
	width:100%;
	height:292px;
	background:url(../img/padrao_topo.jpg) repeat-x;
}

#tp_interno{
	position:relative;
	height: 280px;
	width: 1100px;
	margin:0 auto;
	background:url(../img/bg_topo_interno.jpg) no-repeat;
	border-bottom:#95999c 6px solid;
	border-top:#448b3f 6px solid;
}

#logo{
	height: 155px;
	width: 278px;
	margin-top: 37px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;	
}
nav{
	width:1080px;
	height:54px;
	/*background:#f00;*/
	position:relative;
	margin:34px 0 0 9px;
}

nav li{
	list-style-type:none;
	display:block;
	float:left;
	height:52px;
	width:360px;
}

nav li a{
	height:34px;
	width:360px;
	text-align:center;
	padding-top:18px;
	text-decoration:none;
	color:#666;
	display:block;
}

nav li a:hover{
	color:#468c40;
	font-family:"Open Sans Extrabold";
}

/*CONTEÚDO*/
#conteudo{
	position:relative;
	height: auto;
	width: 1080px;
	margin: 0px auto;
}

/*RODAPÉ*/
footer{
	/*background:url(../img/padrao_rod.jpg) repeat;*/
	background:#333;
	width:auto;
	height:102px;
	border-bottom:6px #468c40 solid;
	padding-top:48px;
	text-align:center;
	line-height:28px;
}

#telefone{
	width:auto;
	height:auto;
	margin:0 auto;
	font-family:"Open Sans Extrabold";
	color:#468c40;
	text-decoration:none;
}

#scroll_topo{
	width:108px;
	height:49px;
	position:fixed;
	background:#468c40;
	margin:433px 0 0 92%;
	z-index:1000;
	padding-top:5px;
	font-size:32px;
	text-align:center;
	font-family:"Bebas Neue";
	border:0;
	color:#d6dadc;
	cursor:pointer;
}
#border_scroll_topo{
	width:108px;
	height:15px;
	position:absolute;
	background:#468c40;
	margin-top:-10px;
	z-index:1000;
	cursor:pointer;
}